*{
  background-color: #333;
  color: white;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 25px 100px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
    .dropdown {
    position: relative;
    display: inline-block;
  }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    .dropdown-content a {
    color: #f1f1f1;
    padding: 20px 85px;
    text-decoration: none;
    display: block;
  }
    .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  header {
    position: relative;
    width: 100%;    display: flex;
    align-items: center;
    justify-content: center;
  }